/* FULL SCREEN BLUE BACKGROUND */
.login-container {
  width: 100vw;
  height: 100vh;
  background: #a5bfff;   /* Full blue */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

/* WHITE LOGIN CARD */
.login-card {
  width: 380px;
  background: white;
  padding: 35px 35px 45px 35px;
  border-radius: 18px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
  text-align: center;
}

/* BANK TITLE */
.bank-title {
  font-size: 26px;
  font-weight: bold;
  color: #007bff;
  margin-bottom: 5px;
  letter-spacing: 1px;
}

/* LOGIN TITLE */
.login-title {
  font-size: 22px;
  margin-bottom: 25px;
  color: #333;
}

/* INPUT FIELD */
.login-input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 15px;
  outline: none;
  transition: 0.2s;
}

.login-input:focus {
  border-color: #007bff;
  box-shadow: 0 0 6px rgba(0, 123, 255, 0.5);
}

/* LOGIN BUTTON */
.login-btn {
  width: 100%;
  padding: 12px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 10px;
  margin-top: 15px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.2s ease;
}

.login-btn:hover {
  background: #005fcc;
}

/* TEXT BELOW BUTTON */
.small-text {
  margin-top: 12px;
  font-size: 14px;
  color: #222;
}

.small-text a {
  color: #005fcc;
  font-weight: bold;
  text-decoration: none;
}

.small-text a:hover {
  text-decoration: underline;
}
